/* @import "normalize"; */
body {
  min-width: 1200px;
  background-color: black;
  color: white;
}
* {
  margin: 0;
}
body {
  width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.name {
  font-family: "Indie Flower", cursive;
}
.position {
  font-family: "Indie Flower", cursive;
}
.navi {
  display: flex;
  font-family: "ZCOOL XiaoWei", serif;
  align-items: center;
}
.menu-item:hover {
  cursor: pointer;
}
.main {
  height: 600px;
  background-image: url(/src/images/adult-2449725_1920.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  padding: 100px 50px;
  margin-bottom: 100px;
}

.career {
  position: relative;
  font-size: 23px;
}
.title {
  position: absolute;
  font-size: 70px;
  color: grey;
  text-transform: uppercase;
  opacity: 0.6;
  left: 0;
  top: 30px;
}

.career img {
  height: 500px;
  width: 500px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  position: absolute;
  top: 0;
  left: 470px;
}

.position {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.position-item {
  margin-left: 20px;
}

.position img {
  height: 50px;
  width: 50px;
  background-color: orange;
}

.skils {
  position: relative;
  height: 800px;
  padding: 50px 50px;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  margin-left: 50px;
}

.logo {
  width: 150px;
  height: 150px;
  background-color: red;
}

.bolle {
  display: flex;
  width: 150px;
}

.empty-dots {
  background-color: #c5e4f2;
  transparency: 0.2;
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 50%;
}

.dots {
  background-color: #83d8ff;
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 50%;
}

.education {
  position: relative;
  height: 800px;
  background-color: white;
  color:grey;
  padding-top: 50px;
}
.stage{
  font-size: 40px;
  text-align: center;
}
.stage-item {
  display: inline-block;
  background-color: black;
  vertical-align: top;
}
.portfolio {
  position: relative;
  height: 800px;
  background-color: red;
}
